.itemsList{
    display:flex;
    margin: 3% auto;
    text-align: center;
    justify-content: center;
      align-items: center;
}

#topName{
    margin-right:30px;
    margin-left: -5%;
    display: flex;
  }
  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
#icon{
    margin-right:30px;
    display: flex;
  }

  .item {
    margin: auto 3%;
    /* position: relative; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    width: 180px;
    height: 180px;
    background: whitesmoke;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    /* color: white; */
    box-shadow: 10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;
  }
  .item:hover {
    border-radius: 0% 0% 20% 20% / 0% 0% 5% 5% ;
    box-shadow: 4px 4px rgba(0,0,0,.25);
  }

  .category{
      margin: auto 5%;
      display:block;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 200px;
      border-radius: 10% 10% 10% 10%;
      background-color: aquamarine;
      
      
  }
  .categoryList{
    /* max-width: 500px;
    min-width: 500px; */
    
    margin: 5% auto;
    /* background-color: black; */
    /* width: 250px; */
      height: 30%;
    background-color: black;
    justify-content: center;
      align-items: center;
}
.categoryListpart{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
      align-items: center;
      
}
#catName{
    padding-top: 30%;
}
#catHead{
    padding-top: 1%;
    text-align: center;
    color: white;
}