.itemsList{
    display:flex;
    margin: 3% auto;
    text-align: center;
    justify-content: center;
      align-items: center;
}

#topName{
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-right:25px;
    margin-left: -5%;
    display: flex;
  }
  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }

  .text-small {
    font-size: 85%;
  }

  .dropdown-toggle {
    outline: 0;
  }
#icon{
    margin-right:20px;
    display: flex;

  }

  .item {
    margin: auto 3%;
    /* position: relative; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    width: 180px;
    height: 180px;
    background: whitesmoke;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    /* color: white; */
    box-shadow: 10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;
  }
  .item:hover {
    border-radius: 0% 0% 20% 20% / 0% 0% 5% 5% ;
    box-shadow: 4px 4px rgba(0,0,0,.25);
  }
.nav-link{
  font-size: 10px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.col-12{
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.text-end{
  font-family: Comic Sans MS, Comic Sans, cursive;
}
  .category{
      margin: auto 6%;
      display:block;
        border: 8px  groove #088F8F;
      /* border: 8px  groove #0080ff;  */
      border-block-style: groove;

      text-align: center;
      justify-content: center;
      align-items: center;
      padding-bottom: 1%;
      width: 250px;
      height: 140px;
      border-radius: 10% 10% 10% 10%;
      background-color: #40B5AD ;
      /* background-color: #1a8cff; */


  }
  .categoryList{
    /* max-width: 500px;
    min-width: 500px; */

    margin: 5% auto;
    /* background-color: black; */
    /* width: 250px; */
      height: 40%;
    background-color: #29262A;
    /* background-color: #262A29; */
    justify-content: center;
      align-items: center;
}
.categoryListpart{
    display: flex;
    padding-top: 2%;
    padding-bottom: 4%;
    justify-content: center;
      align-items: center;

}
#catName{
    padding-top: 18%;
    font-family: Helvetica, sans-serif;

}
#catHead{
    padding-top: 1%;
    text-align: center;
    color: #E5FAF1;
    font-family: Apple Chancery, cursive;
}
